*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
     color: #e5e7eb;
  padding: 20px;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 12px;
    background-color: #095a26;
}
p{
    text-align: left;
    padding: 12px;
    background-color: #9aa19d;
    color: #0f172a;
    border-radius: 10px;
}

form{
    max-width: 400px;
margin: auto;
}

input,textarea,button{
    width: 100%;
    margin: 8px 0;
    padding: 15px;

}
input{
    border-radius: 12px;
    outline: none;
    
}
input:focus{
    border: 2px solid;
    border-color: #22c55e; 
}
textarea{
    border-radius: 12px;
    outline: none;
    border: 2px solid;
}
textarea:focus{
    border-color: #22c55e;
}
button{
    background: #22c55e;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}
button:hover{
    transform: translateY(-4px);
}
.note{
   background: #1e293b;
  padding: 15px;
  margin: 10px auto;
  max-width: 400px;
  border-radius: 12px;
transition: all 0.3s ease-in-out;
}
.note:hover{
    transform: translateY(-4px);
}